.header {
    display: flex;
    flex-direction: row;
    vertical-align: top;
}

.logo {
    display: inline-block;
    text-align: left;
    padding: 15px;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 30px;
    text-align: start;
}

#nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 30px;
    text-align: center;
}

.content {
    width: 100px;
    margin: 0 auto;
    background-position: center;
    margin: 25px;
}
.heroImg {
    display: inline-block;
    height: 300px;
    width: 300px;
    padding: 25px;
    position: center;
}

.footer {
    display: block;
    background-color: #373738;
    padding: 10px;
    text-align: center;

}
#footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    color: white;
}