header {
    display: inline-block;
    position: left;
}

.logo {
    display: inline-block;
    text-align: center;
    padding: 15px;
}

.nav {
    display: inline-block;
    padding: 30px;
    text-align: center;
    position: top;
}

.heroImg {
    display: inline-block;
    height: 300px;
    width: 300px;
    padding: 25px;
    position: center;
}

.content {
    width: 500px;
    margin: 0 auto;
    background-position: center;
    margin: 10px;
}

#footer {
    display: inline-block;
    text-align: center;
    color: white;
}

.footer {
    display: inline-block;
    background-color: #373738;
    padding: 10px;
    text-align: center;

}